In [35]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [36]:
import pandas as pd
df=pd.DataFrame(weather_data)
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [37]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [39]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [40]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [41]:
df.shape

(6, 4)

In [44]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [47]:
df[['temperature',"windspeed"]]

   temperature  windspeed
0           32          6
1           35          7
2           28          2
3           24          7
4           32          4
5           31          2

In [48]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [49]:
df['windspeed'].mean()

4.666666666666667

In [52]:
df['event'].max()

'Sunny'

In [51]:
df['temperature'].min()

24

In [53]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [57]:
df[df.windspeed>=5]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
3  1/4/2017           24          7   Snow

In [64]:
df["day"][df.temperature==df["temperature"].max()]

1    1/2/2017
Name: day, dtype: object

In [66]:
df["day"][df.temperature==df["temperature"].min()]

3    1/4/2017
Name: day, dtype: object

In [67]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [74]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [75]:
df.reset_index(inplace=True)
df.head()

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain

In [76]:
df.set_index('event',inplace=True)
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [79]:
df.loc['Sunny']

       index       day  temperature  windspeed
event
Sunny      1  1/2/2017           35          7
Sunny      5  1/6/2017           31          2